<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.atnibam.ims.mapper.FriendRequestMapper">

    <resultMap id="BaseResultMap" type="space.atnibam.ims.model.entity.FriendRequest">
        <id property="requestId" column="request_id" jdbcType="INTEGER"/>
        <result property="userIdAdding" column="user_id_adding" jdbcType="INTEGER"/>
        <result property="userIdAdded" column="user_id_added" jdbcType="INTEGER"/>
        <result property="message" column="message" jdbcType="VARCHAR"/>
        <result property="statusCode" column="status_code" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        request_id,user_id_adding,user_id_added,
        message,status_code
    </sql>
</mapper>
