<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.atnibam.ims.mapper.FriendRelationMapper">

    <resultMap id="BaseResultMap" type="space.atnibam.ims.model.entity.FriendRelation">
        <id property="relationId" column="relation_id" jdbcType="INTEGER"/>
        <result property="friendId" column="friend_id" jdbcType="INTEGER"/>
        <result property="ownId" column="own_id" jdbcType="INTEGER"/>
        <result property="alias" column="alias" jdbcType="VARCHAR"/>
        <result property="relationship" column="relationship" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        relation_id,friend_id,own_id,
        alias,relationship
    </sql>
</mapper>
