<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="atnibam.space.system.mapper.AuthCredentialsMapper">

    <resultMap id="BaseResultMap" type="atnibam.space.system.model.entity.AuthCredentials">
        <id property="credentialsId" column="credentials_id" jdbcType="INTEGER"/>
        <result property="idCardNumber" column="id_card_number" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        credentials_id,id_card_number,phone_number,
        email
    </sql>
</mapper>
