<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.atnibam.sms.mapper.CouponsMapper">

    <resultMap id="BaseResultMap" type="space.atnibam.sms.model.entity.Coupons">
        <id property="couponId" column="coupon_id" jdbcType="INTEGER"/>
        <result property="couponName" column="coupon_name" jdbcType="VARCHAR"/>
        <result property="redeemCode" column="redeem_code" jdbcType="VARCHAR"/>
        <result property="startDate" column="start_date" jdbcType="DATE"/>
        <result property="couponType" column="coupon_type" jdbcType="TINYINT"/>
        <result property="issuerId" column="issuer_id" jdbcType="INTEGER"/>
        <result property="issueQuantity" column="issue_quantity" jdbcType="INTEGER"/>
        <result property="appId" column="app_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        coupon_id,coupon_name,redeem_code,
        start_date,coupon_type,
        issuer_id,issue_quantity,app_id,
        status
    </sql>
</mapper>
